body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,121,9,1) 35%, rgba(0,212,255,1) 100%);
background-attachment: fixed;
margin: 0;
}

#form{
    width: 400px;
    margin: 15vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: green;
}

#form button{
    background-color: green;
    color: white;
    border: solid 1px green;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group input{
    border-radius: 5px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid green;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}